* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}



/*_______________
    Fonts 
    _________________*/
 
p{
    font-size: 14px;
    margin-bottom: 0.6rem;

}
.mkd-text {
      color: #FE2968;
}
a {
      text-decoration: none;
      color: #FE2968;
}

/* /.fonts */


/*  _________________________________________
        Navbar
 ___________________________________________*/
.mkd-navbar {
      /* background : rgb(253, 253, 253); */
      color: black;

      padding: 1% 8.69%;

}
.mkd-logo img {
      height: 2.2rem;
}

 /* /.Navbar */



/*  _________________________________________
        buttons 
 ___________________________________________*/


.mkd-btn {
      border: 1px solid  #FE2968;
      background: #FE2968;
}
.mkd-btn-inactive {
      border: 1px solid  #FE2968;
      color: #FE2968;
}
.mkd-btn-inactive:hover {
      background: #FE2968;
      color: white;
}
/* /.buttons */

/* =========================
  Cards
  ==================== */

 .mkd-card:hover {
       box-shadow: 9px 4px 9px 6px #f7f7f7;
 }

  /* /.cards */

/* ____________

      Home Page 
_______________ */

/* banner */
.main-page-banner {
      background-image: url('/mkd_design/assets/img/banner.jpg');
      height: 100vh; 
      /* width: 100vh; */
      position: relative;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
}
.heading-action {
      position: absolute;

}
.heading-action h6 {
      line-height: 2em;
}


/* artist card showcase */
.mkd-card img {
      height: 15rem;
      width: 100%
      border-top-left-radius: .2rem;
      border-top-right-radius: .2rem;

}
.mkd-card {
      box-shadow: 1px 1px 1px 2px #f7f7f7fc;
      border: none;
}
.mkd-card-footer{
      background-color: white;

}

.star-icons i, .benefits i {
      color: #FE2968;
      font-size: .7rem;
}

.showcase-artists {
      padding: 1% 8.69%;

}

/* ---------user-benefit------- */

.user-benefit {
      padding: 1%  8.69%;

      background: #f7f7f7b0;
}



.user-benefit ul li {
      list-style: none;
}


/* Showcase Area */
.showcase-area {
      padding: 1% 8.69%;

}

.showcase-area img {
      height: 15em;
      width: 100%;
    
}



/* ____________

      Home Page END
_______________ */

/* ____________
     Footer
___________*/

.mkd-footer {
      border-top: 1px solid #FE2968;
      background: #f7f7f7;
      
}

@media(min-width: 700px){
      #navbar-mkd {
            /* background : #FE2968; */
            /* padding: .5em 5em; */
      }
      .heading-action {
            width: 35em;
            margin: 10% 7.69%;

      }
      .showcase-artists {
            /* margin: 1% 7.69%; */

      
      }

}

@media(max-width: 700px){
      .showcase-artists {
            padding: 1em;
      
      }

      /* .user-benefit .work-image img {
      height: 14em;
      width: 16.4em;
      padding: 5px;
      
      } */

}








  /* ======================================
           Pre Loader
      ====================================== */

/* #preloader {
      background: coral;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99999;
}

#status {
      background: darkblue;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 40vh;
      left: 45vw;
} */