* {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}

body {
      color: rgb(61, 60, 60);
}
.card {
    margin-top: 1rem;
    margin-bottom: 1rem;
}



/*_______________
    Fonts
    _________________*/



p{
    font-size: 14px;
    margin-bottom: 0.6rem;

}
.mkd-text {
      color: #FE2968;
}
a {
      text-decoration: none;
      color: #FE2968;
}

i {
      /* color: #FE2968; */
}
.light-text {
      color: #8a88889c;
}
.vertical-line {
      border-right: 1px solid #a7a6a69c;
}

/* /.fonts */


/*  _________________________________________
        Navbar
 ___________________________________________*/
.mkd-navbar {
      background : rgb(253, 253, 253);
      color: black;

      /* padding: 1% 8.69%; */

}
.mkd-logo img {
      height: 2.2rem;
}



 /* /.Navbar */



/*  _________________________________________
        buttons
 ___________________________________________*/


.mkd-btn {
      border: 1px solid  #FE2968;
      background: #FE2968;
      color: white;
}
.mkd-btn-inactive {
      border: 1px solid  #FE2968;
      color: #FE2968;
}
.mkd-btn-inactive:hover{
      background: #FE2968;
      color: white;
}

.mkd-btn-inactive i:hover {
      color: white;

}

.fa-trash {
      color: red;
}
/* /.buttons */

/* =========================
  Cards
  ==================== */

 .mkd-card:hover {
       box-shadow: 9px 4px 9px 6px #f7f7f7;
 }

  /* /.cards */

/* ____________

      Home Page
_______________ */

/* banner */
.main-page-banner {
      background-image: url('/mkd_design/assets/images/banner.jpg');
      height: 100vh;
      /* width: 100vh; */
      position: relative;
      background-repeat: no-repeat;
      /* background-position: center center; */
      background-size: cover;
}
.heading-action {
      position: absolute;

}
.heading-action h6 {
      line-height: 2em;
}


/* artist card showcase */
.mkd-card img {
      height: 15rem;
      width: 100%
      border-top-left-radius: .2rem;
      border-top-right-radius: .2rem;

}

.change-picture-link {
      position: absolute;
      top: 48%;
      left: 81%;
      background: rgba(226, 225, 225, 0.932);
      color: rgb(20, 13, 3);
}
.change-pricing {
      background: rgba(226, 225, 225, 0.932);
      color: rgb(20, 13, 3);
}
.change-cover-picture-link {
      position: absolute;
      top: 74.7%;
      left: 91%;
      background: rgba(226, 225, 225, 0.932);
      color: rgb(20, 13, 3);
}
.mkd-card {
      box-shadow: 1px 1px 1px 2px #f7f7f7fc;
      border: none;
}
.mkd-card-footer{
      background-color: white;

}

.star-icons i, .benefits i {
      color: #FE2968;
      font-size: .7rem;
}

.showcase-artists {
      padding: 1% 8.69%;

}

/* ---------user-benefit------- */

.user-benefit {
      padding: 1%  8.69%;

      background: #f7f7f7b0;
}



.user-benefit ul li {
      list-style: none;
}


/* Showcase Area */
.showcase-area {
      padding: 1% 8.69%;

}

.showcase-area img {
      height: 15em;
      width: 100%;

}



/* ____________

      Home Page END
_______________ */

/* ____________

      Artist Profile
_______________ */

.artist-banner {
      height: 20.71em;
}

.artist-img {
      /* height: 20em; */
      /* width: 100%; */
      /* border-radius: 100%; */
}

.profile-gallery-img {
      height: 14em;
      width: 14em;
      padding-bottom: 14%;
}

.user-photo {
      height: 2rem;
}

/* ____________

     Artist Profile END
_______________ */

/* .artist-banner */

/* ____________
     Footer
___________*/

.mkd-footer {
      border-top: 1px solid #FE2968;
      background: #f7f7f7;
      /* position: absolute; */
      /* top: 100%; */
      /* bottom: 0; */

}

@media(min-width: 768px){
      .mkd-navbar {
            padding: 1% 8.69%;

      }
      .heading-action {
            width: 35em;
            margin: 15% 7.69%;

      }
      .password-change {

            width: 23rem;

      }

      /* ==============
          Artist  Profile
       ============== */

       .mkd-artist-profile, .artist-list {
            padding: 1% 8.69%;
       }

      /* ==============
          Sign Up
       ============== */


       .signup-centered-card {
             width: 26rem;
             margin: 2rem auto;

       }

       /* ==============
          Big Card
       ============== */

       .big-centered-card {
            margin: 2% 7.69%;

       }

}

@media(max-width: 769px){

      .main-page-banner {
            height: 40vh;

      }

      .showcase-artists {
            padding: 1em;

      }
       img {
            margin-top: 1rem;
            margin-bottom: 1rem;
      }


      /* .user-benefit .work-image img {
      height: 14em;
      width: 16.4em;
      padding: 5px;

      } */

}








  /* ======================================
           Pre Loader
      ====================================== */

/* #preloader {
      background: coral;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99999;
}

#status {
      background: darkblue;
      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 40vh;
      left: 45vw;
} */
